<!doctype html>
<html ng-app="me">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>catherineshing</title>

        <meta name="description" content="catherine shing,tesla referral">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="./rsrc/cs-black.png">
        <link rel="stylesheet" href="./lib/css/bootstrap.min.css" />
        <link rel="stylesheet/less" type="text/css" href="./index.less" />
    </head>
    <body>
        <div ng-controller="IndexController as index">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#home" ng-click="index.loadView('home')">
                            <img src="./rsrc/cs.png" alt="CS">
                        </a>
                        <div class="navbar-toggle collapsed">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="index.showDropdown = !index.showDropdown">
                                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                                </a>
                                <ul class="dropdown-menu" ng-style="{display: (index.showDropdown ? 'block' : 'none')}">
                                    <li ng-class="{active: index.view === 'home'}">
                                        <a href="#home" ng-click="index.loadView('home')"><i class="glyphicon glyphicon-home"></i></a>
                                    </li>
                                    <li ng-class="{active: index.view === 'about'}">
                                        <a href="#about" ng-click="index.loadView('about')"><i class="glyphicon glyphicon-info-sign"></i></a>
                                    </li>
                                    <li ng-class="{active: index.view === 'resume'}">
                                        <a href="#resume" ng-click="index.loadView('resume')"><i class="glyphicon glyphicon-list-alt"></i></a>
                                    </li>
                                    <li ng-class="{active: index.view === 'contact'}">
                                        <a href="#contact" ng-click="index.loadView('contact')"><i class="glyphicon glyphicon-envelope"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{active: index.view === 'about'}">
                                <a href="#about" ng-click="index.loadView('about')">About</a>
                            </li>
                            <li ng-class="{active: index.view === 'resume'}">
                                <a href="#resume" ng-click="index.loadView('resume')">Resume</a>
                            </li>
                            <li ng-class="{active: index.view === 'contact'}">
                                <a href="#contact" ng-click="index.loadView('contact')">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="view" ng-view></div>

        <nav class="navbar navbar-bottom">
            <div class="container">
                <div class="text-center">
                    catherine<img src="./rsrc/cs.png" alt="CS">shing
                </div>
            </div>
        </nav>

        <div class="tesla" itemscope itemtype="http://schema.org/Offer" style="display:none">
            <meta itemprop="name" content="Tesla Referral Link">
            <meta itemprop="url" content="http://ts.la/catherine6931">
            <meta itemprop="offeredBy" content="Tesla">
            <meta itemprop="itemOffered" content="referral">
            <meta itemprop="validThrough" content="2016-10-16">
        </div>

        <script src="./lib/js/angular.min.js"></script>
        <script src="./lib/js/angular-clipboard.js"></script>
        <script src="./lib/js/angular-route.min.js"></script>
        <script src="./lib/js/ui-bootstrap-tpls.min.js"></script>
        <script src="./lib/js/less.min.js" data-log-level="1"></script>

        <script src="./index.js"></script>
        <script src="./src/about/about.js"></script>
        <script src="./src/contact/contact.js"></script>
        <script src="./src/home/home.js"></script>
        <script src="./src/resume/resume.js"></script>
    </body>
</html>
