.navbar {
    background-color: #000000;

    .navbar-brand {
        padding: 5px 15px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    li {
        a {
            color: #FFFFFF;
        }

        &.active a, &.active a:hover, a:hover, a:focus {
            color: #1C9DA6;
            background-color: transparent;
        }
    }

    .navbar-toggle {
        margin-right: 5px;
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 16px;

        .dropdown-toggle {
            color: #FFFFFF;
            cursor: pointer;
        }

        .dropdown-menu {
            background-color: #000000;
            left: -20px;

            & > li > a {
                padding: 5px 20px;
            }
        }
    }

    &.navbar-bottom {
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        color: #FFFFFF;

        img {
            width: 60px;
            height: 60px;
            margin-left: 6px;
            margin-right: 3px;
        }
    }
}

.view {
    .parallax {
        height: 600px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .content {
        padding: 20px 0 30px;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .about {
        .parallax {
            background-image: url('./rsrc/about.jpg');
        }

        .thumbnail {
            margin-top: 20px;
        }
    }

    .contact {
        .parallax {
            background-image: url('./rsrc/contact.jpg');
        }
    }

    .home {
        .parallax {
            background-image: url('./rsrc/home.jpg');
        }
    }

    .resume {
        .parallax {
            background-image: url('./rsrc/resume.jpg');;
        }

        .btn {
            font-size: 23px;
            padding: 2px 6px 0;
            margin-left: 10px;
            margin-right: 5px;
        }

        h4 {
            text-decoration: underline;
        }

        .section {
            padding-bottom: 15px;

            .subsection:not(:last-child) {
                padding-bottom: 20px;
            }
        }
    }
}
